name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"   # tiap 12 jam
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate snake (SVG)
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/snake.svg

      - name: Move to assets/
        run: |
          mkdir -p assets
          mv dist/snake.svg assets/snake.svg

      - name: Commit & push
        uses: EndBug/add-and-commit@v9
        with:
          add: "assets/snake.svg"
          message: "chore: update contribution snake"
